<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<header>
  <% include partials/header %>
</header>

<body>



<!-- Custom CSS -->
<style>
  body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  }
</style>


</div>




<!-- /.container -->
<div class="container-fluid">

  <div class="row">
    <div class="col-xs-2 col-md-2"></div>
    <div class="col-xs-8 col-md-8"></div>
     
</div>

</div>



<footer>
  <% include partials/footer %>
</footer>


</body>
</html>

