<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<header>
  <% include partials/header %>
</header>

<body>



<!-- Custom CSS -->
<style>
  body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  }
</style>


</div>




<!-- /.container -->
<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-md-12"><a href="/api/v1.0/test/1"> test API</a></div>

     
</div>

</div>



<footer>
  <% include partials/footer %>
</footer>


</body>
</html>

